[user]
	name = dominik-schmid
	email = contact@dominik-schmid.com
	signingkey = 47A3A1DB8E6FBFCEC69478CB0A7BE8171252D704
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesfile = ~/.config/.gitignore
[init]
	defaultBranch = development
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
	format = openpgp
[mergetool]
	keepBackup = true
